<%- include('../_templates/header.template.ejs') %>
   <%- include('../_templates/navbar.template.ejs') %>
      <%- include('../_templates/sidebar.template.ejs') %>
         <%- include('../_templates/body_top.template.ejs') %>

            <h1>Hola mundo, Ajustes</h1>

            <%- include('../_templates/body_bottom.template.ejs') %>
               <%- include('../_templates/footer.template.ejs') %>