<%- include('../_templates/header.template.ejs') %>
   <%- include('../_templates/navbar.template.ejs') %>
      <%- include('../_templates/sidebar.template.ejs') %>
         <%- include('../_templates/body_top.template.ejs') %>
            <div class="app-title">
               <div>
                  <h1><i class="fas fa-id-card"></i> Perfiles</h1>
                  <p>Administraci&oacute;n de Perfiles Disponibles</p>
               </div>
               <ul class="app-breadcrumb breadcrumb">
                  <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                  <li class="breadcrumb-item"><a href="#">Ajustes</a></li>
                  <li class="breadcrumb-item"><i>Perfiles</i></li>
               </ul>
            </div>
            <div class="row">
               <div class="col-md-8">
                  <div class="tile">
                     <div class="tile-body">
                        <table class="table table-hover table-sm">
                           <thead>
                              <tr>
                                 <th scope="col">#</th>
                                 <th scope="col">Perfil</th>
                                 <th scope="col">Acciones</th>
                              </tr>
                           </thead>
                           <tbody>

                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="tile">
                     <div class="tile-body">
                        <form action="">
                           <div class="form-group">
                              <input type="text" class="form-control" id="id" name="id" placeholder="id">
                           </div>
                           <div class="form-group">
                              <label for="perfil">Perfil</label>
                              <input type="text" name="perfil" class="form-control" id="perfil" required
                                 placeholder="Perfil" autofocus>
                           </div>
                           <div class="form-group">
                              <button class="btn btn-secondary btn-block"> <i class="far fa-paper-plane"></i>
                                 Procesar</button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>


            <%- include('../_templates/body_bottom.template.ejs') %>
               <%- include('../_templates/footer.template.ejs') %>