<%- include("../_templates/header.template.ejs") %>

<% if (success.danger> 0) { %>
      <script type="text/javascript">
         $(document).ready(function () {
            $.notify({
               title: 'Error!',
               messages: '<%= danger %>',
               icon: ''
            }, {
               type: 'danger'
            })
         })
      </script>
      <% } %>

<% if (success.warning> 0) { %>
      <script type="text/javascript">
         $(document).ready(function () {
            $.notify({
               title: 'Error!',
               messages: '<%= warning %>',
               icon: ''
            }, {
               type: 'warning'
            })
         })
      </script>
      <% } %>


   <section class="material-half-bg">
      <div class="cover"></div>
   </section>
   <section class="login-content">

      <div class="logo">
         <h1>
            <%= appname %>
         </h1>
      </div>
      <div class="login-box">
         <form class="login-form" action="/api/change/password" method="POST">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>CAMBIO DE CONTRASE&Ntilde;A</h3>
            <div class="form-group">
               <label class="control-label">NUEVA CONTRASE&Ntilde;A</label>
               <input class="form-control" type="password" name="password" id="password"
                  placeholder="Nueva Contrase&ntilde;a" autofocus required>
            </div>
            <div class="form-group">
               <label class="control-label">REPETIR CONTRASE&Ntilde;A</label>
               <input class="form-control" type="password" name="password2" id="password2"
                  placeholder="Repetir Contrase&ntilde;a" required>
            </div>
            <div class="form-group btn-container">
               <button class="btn btn-primary btn-block"><i class="fas fa-user-lock fa-lg fa-fw"></i> CAMBIAR
                  CONTRASE&Ntilde;A</button>
            </div>
         </form>
      </div>
   </section>
   <%- include("../_templates/footer.template.ejs") %>
